@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ERS SMA Inverter Data Dashboard</h1>
    <p><a href="http://www.ers.my/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-cloud-download"></i></div>
            <div class="item-text">
                <h2> @ViewBag.myDate </h2>
                <p>Date & Time</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-users"></i></div>
            <div class="item-text">
                <h3>@ViewBag.mySerial</h3>
                <p>Serial Number</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-graduation-cap"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myMppts</h3>
                <p>MPPTs</p>
            </div>
        </div>
    </div>
</div><!-- end row1 -->

<div class="row">
    <br />
    <br />
</div><!-- SPACING-->

<div class="row">
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-cloud-download"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myDCc1</h3>
                <p>DC Current 1</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-users"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myDCv1</h3>
                <p>DC Voltage 1</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-graduation-cap"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myDCp1</h3>
                <p>DC Power 1</p>
            </div>
        </div>
    </div>
</div><!-- end row2 -->

<div class="row">
    <br />
    <br />
</div><!-- SPACING-->

<div class="row">
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-cloud-download"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myDCc2</h3>
                <p>DC Current 2</p>
            </div>
        </div> 
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-users"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myDCv2</h3>
                <p>DC Voltage 2</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-graduation-cap"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myDCp2</h3>
                <p>DC Power 2</p>
            </div>
        </div>
    </div>
</div><!-- end row3 -->

<div class="row">
    <br />
    <br />
</div><!-- SPACING-->

<div class="row">
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-cloud-download"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myTotalYield</h3>
                <p>Total Yield</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-users"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myCurrentYield</h3>
                <p>Current Yield</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-graduation-cap"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myDailyYield</h3>
                <p>Daily Yield</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="single-content text-center">
            <div class="item-icon"><i class="fa fa-graduation-cap"></i></div>
            <div class="item-text">
                <h3>@ViewBag.myCondition</h3>
                <p>Condition</p>
            </div>
        </div>
    </div>
</div><!-- end row4 -->