
@{
    ViewBag.Title = "Visual";
}
@model Dashboard_WebAPP.Models.ViewModel

<div>
    <h1>Visualization of Data</h1>
</div>

<div>
    @using (Html.BeginForm("Visual", "Home", FormMethod.Post))
    {
        @Html.DropDownList("ddlInverter", Model.GetInverterListItems(), new { @onchange = "this.form.submit();" })

    }
    @ViewData["selectedInverter"]
</div>

<div class="row">
    <br />
</div><!-- SPACING-->

<a class="weatherwidget-io" href=@ViewBag.myURL data-label_1="@ViewBag.myDataLabel" data-label_2="WEATHER" data-theme="marine">SUNGAI BESI WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<div class="row">
    <br />
</div><!-- SPACING-->

<div>
    <button style="background-color:azure" onclick="daily('#powerChart1','#powerday','#powermonth', 'powerChart')" id="powerday">Day</button>
    <button style="background-color:lightblue" onclick="monthly('#powerChart1', '#powermonth', '#powerday', 'monthlyChart')" id="powermonth">Month</button>
</div>
<div class="jumbotron">
    <p id="title" class="lead">ERS SMA Graph</p>
    <img id="powerChart1" src="@Url.Action("powerChart","Home", new { serial_no = ViewBag.mySerial })" />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    function daily(id, id1, id2, chartName) {
        $(id1).prop("disabled", true);
        $(id2).prop("disabled", false);

        $(id1).attr('style', 'background-color:azure');
        $(id2).attr('style', 'background-color:lightblue');

        var inStr = '@Url.Action("xChart","Home", new { serial_no = ViewBag.mySerial })';
        inStr = inStr.replace("xChart", chartName);
        $(id).attr('src', inStr);
    }

    function monthly(id, id1, id2, chartName) {
        $(id1).prop("disabled", true);
        $(id2).prop("disabled", false);

        $(id1).attr('style', 'background-color:azure');
        $(id2).attr('style', 'background-color:lightblue');

        var inStr = '@Url.Action("xChart","Home", new { serial_no = ViewBag.mySerial })';
        inStr = inStr.replace("xChart", chartName);
        $(id).attr('src', inStr);
    }

</script>
