<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ERS Portal", "PortalIndex", "Portal", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("ERS Monitoring", "Index", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <div class="item-text" style="text-align: center; color:white; margin-left:-170px">
                            <h5> @ViewBag.myTotalCurrentPowerVal </h5>
                            <p>Total Current Power</p>
                        </div>
                    </li>
                    <li class="nav navbar-nav mr-auto">
                        <div class="item-text" style="text-align: center; color:white; margin-left:0px">
                            <h5>@ViewBag.myTotalEnergyToday</h5>
                            <p>Total Energy Generated Today</p>
                        </div>
                    </li>
                    <li class="nav navbar-nav mr-auto">
                        <div class="item-text" style="text-align: center; color:white; margin-left:20px">
                            <h5>@ViewBag.myTotalEnergyAllTime</h5>
                            <p>Energy Generated All Time</p>
                        </div>
                    </li>
                    <li class="nav navbar-nav mr-auto">
                        <div class="item-text" style="text-align: center; color:white; margin-left:20px">
                            <h5>@ViewBag.myTotalCap</h5>
                            <p>Total Capacity</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ERS Malaysia</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
