@{
    ViewBag.Title = "Index";
}
@model Dashboard_WebAPP.Models.PortalViewModel

<div class="jumbotron" style="height: 0px">
    @*<h1>ERS Portal</h1>
        <div><a href="http://www.ers.my/" class="btn btn-primary btn-lg">Learn more about ERS! &raquo;</a></div>*@
    <div>
        <div style="padding-left: 800px;">
            @using (Html.BeginForm("PortalIndex", "Portal", FormMethod.Post))
            {
                @Html.DropDownList("ddlInverter_sunny", Model.GetInverterListItems(), "-----Select an Inverter-----", new { @onchange = "this.form.submit();" })
            }
        </div>
    </div><!-- end title row -->
</div>






@if (ViewBag.myValue == 0)
{
    @*<div style="height:654px; border:2px solid #eee; display:inline-block; overflow:hidden; margin-top: -25px;">
            <iframe style="position:relative; top:-46px; border:none;" src="https://www.google.com/maps/d/embed?mid=1cSBXBagksBncIKjvyCgFcJEUW2MaHz2O" width="1105" height="700"></iframe>
        </div>*@
    @*  REAL API KEY:     AIzaSyDeQi3CdQObWs-qg9WFOC2BADhWG0jJtXo*@

    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 700px;
             width: 1105px;
         }
    </style>


    <script>
          var TR_Con = '@(ViewBag.TR_Con)';//
          var TCMA_Con = '@(ViewBag.TCMA_Con)';//
          var Toyo_Con = '@(ViewBag.Toyo_Con)';//
          var CLK_Con = '@(ViewBag.CLK_Con)';//
          var Nasha_Con = '@(ViewBag.Nasha_Con)';//
          var CCP_Con = '@(ViewBag.CCP_Con)';//
          var TCH_Con = '@(ViewBag.TCH_Con)';//
          var Shahrir_Con = '@(ViewBag.Shahrir_Con)';//
          var LKY_Con = '@(ViewBag.LKY_Con)';//
          var Krishna_Con = '@(ViewBag.Krishna_Con)';//
          var Affandi_Con = '@(ViewBag.Affandi_Con)';//
          var LSK_Con = '@(ViewBag.LSK_Con)';//
          var OLK_Con = '@(ViewBag.OLK_Con)';//
          var SS15_Con = '@(ViewBag.SS15_Con)';//
          var SKS_Con = '@(ViewBag.SKS_Con)';//
          var CEH_Con = '@(ViewBag.CEH_Con)';//
          var OHK_Con = '@(ViewBag.OHK_Con)';//
          var William_Con = '@(ViewBag.William_Con)';//
          var CPW_Con = '@(ViewBag.CPW_Con)';//
          var NWX_Con = '@(ViewBag.NWX_Con)';//
          var SecretGarden_Con = '@(ViewBag.SecretGarden_Con)';//
          var Kuvendran_Con = '@(ViewBag.Kuvendran_Con)';//
          var JOSL_Con = '@(ViewBag.JOSL_Con)';//
          var TCW_Con = '@(ViewBag.TCW_Con)';//
          var YKW_Con = '@(ViewBag.YKW_Con)';//
          var LKP_Con = '@(ViewBag.LKP_Con)';//
          var LKM_Con = '@(ViewBag.LKM_Con)';//
          var CMY_Con = '@(ViewBag.CMY_Con)';//
          var Jerome_Con = '@(ViewBag.Jerome_Con)';//
          var Choco_Con = '@(ViewBag.Choco_Con)';//
          var ChengPK_Con = '@(ViewBag.ChengPK_Con)';//
          var KPChurch_Con = '@(ViewBag.KPChurch_Con)';//
          var Aviva_Con = '@(ViewBag.Aviva_Con)';//
          var TYW_Con = '@(ViewBag.TYW_Con)';//
          var FF_Con = '@(ViewBag.FF_Con)';//
          var RoL_Con = '@(ViewBag.RoL_Con)';//
          var TPE_Con = '@(ViewBag.TPE_Con)';//
          var Hercules_Con = '@(ViewBag.Hercules_Con)';//
          var SSL_Con = '@(ViewBag.SSL_Con)';//
          var SFH_Con = '@(ViewBag.SFH_Con)';//
          var SYW_Con = '@(ViewBag.SYW_Con)';//
          var ICP_Con = '@(ViewBag.ICP_Con)';//
          var Thumbprints_Con = '@(ViewBag.Thumbprints_Con)';//
          var Firma_Con = '@(ViewBag.Firma_Con)';//
          var NK_Con = '@(ViewBag.NK_Con)';//
          var Maran_500_Con = '@(ViewBag.Maran_500_Con)';//
          var Maran_NEM_Con = '@(ViewBag.Maran_NEM_Con)';//
    </script>

    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 4.249182, lng: 107.549879 },
                zoom: 6,
            });

            //ERROR ICON http://maps.google.com/mapfiles/kml/pal3/icon37.png
            //GREEN MARKER http://maps.google.com/mapfiles/ms/icons/green-dot.png
            var TR_Energy = new google.maps.Marker({ position: { lat: 6.90869, lng: 116.81816 }, map: map, icon: { url: TR_Con } }); //TR Energy 0.99MWp
            var NK_Energy = new google.maps.Marker({ position: { lat: 6.909879, lng: 116.819468 }, map: map, icon: { url: NK_Con } }); //NK Energy 0.99MWp Solar Farm
            var Maran_500 = new google.maps.Marker({ position: { lat: 3.4434, lng: 102.4392 }, map: map, icon: { url: Maran_500_Con } }); //Maran Road Sawmill - 500kWp
            var Maran_NEM = new google.maps.Marker({ position: { lat: 3.4434, lng: 102.4388 }, map: map, icon: { url: Maran_NEM_Con } }); //Maran Road Sawmill NEM
            var TCMA = new google.maps.Marker({ position: { lat: 3.3541, lng: 101.5591 }, map: map, icon: { url: TCMA_Con } }); //Tan Chong Motor Assemblies Sdn Bhd
            var Toyo = new google.maps.Marker({ position: { lat: 4.860523, lng: 100.697029 }, map: map, icon: { url: Toyo_Con } }); //Toyo Tires Manufacturing (M)
            var CLK = new google.maps.Marker({ position: { lat: 3.158688, lng: 101.658661 }, map: map, icon: { url: CLK_Con } }); //Choo Lay Khuan 5kWp
            var Nasha = new google.maps.Marker({ position: { lat: 2.94435, lng: 101.79612 }, map: map, icon: { url: Nasha_Con } }); //Nasharuddin 2017
            var CCP = new google.maps.Marker({ position: { lat: 2.9360449, lng: 101.6337967 }, map: map, icon: { url: CCP_Con } }); //ChuaChinPeng
            var TCH = new google.maps.Marker({ position: { lat: 3.0093552, lng: 101.6732889 }, map: map, icon: { url: TCH_Con } }); //tingchenhunt
            var Shahrir = new google.maps.Marker({ position: { lat: 5.4031, lng: 100.57719 }, map: map, icon: { url: Shahrir_Con } }); //Mohamad Shahrir
            var LKY = new google.maps.Marker({ position: { lat: 3.0690769, lng: 101.58734 }, map: map, icon: { url: LKY_Con } }); //Loh Kiat Yoong
            var Krishna = new google.maps.Marker({ position: { lat: 3.0612042, lng: 101.5776494 }, map: map, icon: { url: Krishna_Con } }); //Krishna
            var Affandi = new google.maps.Marker({ position: { lat: 2.967008, lng: 101.490712 }, map: map, icon: { url: Affandi_Con } }); //Affandi
            var SKLee = new google.maps.Marker({ position: { lat: 3.15613, lng: 101.65467 }, map: map, icon: { url: LSK_Con } }); //Lee Szed Kee
            var OLK = new google.maps.Marker({ position: { lat: 3.041405, lng: 101.647067 }, map: map, icon: { url: OLK_Con } }); //Ooi Lee Kean
            var SS15 = new google.maps.Marker({ position: { lat: 3.0815, lng: 101.5895 }, map: map, icon: { url: SS15_Con } }); //SS15
            var SKS = new google.maps.Marker({ position: { lat: 3.149099, lng: 101.7624521 }, map: map, icon: { url: SKS_Con } }); //Soo Kai Soon
            var CEH = new google.maps.Marker({ position: { lat: 3.106499, lng: 101.758081 }, map: map, icon: { url: CEH_Con } }); //Chua Eng Hin
            var OHK = new google.maps.Marker({ position: { lat: 2.0359456, lng: 102.5986597 }, map: map, icon: { url: OHK_Con } }); //Ooi Hoon Kong
            var William = new google.maps.Marker({ position: { lat: 3.100747, lng: 101.612933 }, map: map, icon: { url: William_Con } }); //William Lin Kee Wai
            var CPW = new google.maps.Marker({ position: { lat: 3.139, lng: 101.6869 }, map: map, icon: { url: CPW_Con } }); //CP Wong
            var WXNg = new google.maps.Marker({ position: { lat: 3.13095, lng: 101.55038 }, map: map, icon: { url: NWX_Con } }); //Ng Wei Xin
            var secret_garden = new google.maps.Marker({ position: { lat: 5.9804, lng: 116.07349 }, map: map, icon: { url: SecretGarden_Con } }); //secret-garden 6.3kWp Solar PV
            var Kuvendran = new google.maps.Marker({ position: { lat: 3.080398, lng: 101.450951 }, map: map, icon: { url: Kuvendran_Con } }); //Kuvendran
            var Jack_Ong = new google.maps.Marker({ position: { lat: 5.305, lng: 100.26499 }, map: map, icon: { url: JOSL_Con } }); //Jack Ong Seng Leong
            var CWTan = new google.maps.Marker({ position: { lat: 2.85571, lng: 101.68437 }, map: map, icon: { url: TCW_Con } }); //Tan Chun Weng
            var YKW = new google.maps.Marker({ position: { lat: 3.0208, lng: 101.5078 }, map: map, icon: { url: YKW_Con } }); //Yim Kien Wai 11.925kWP
            var KPLau = new google.maps.Marker({ position: { lat: 2.98649, lng: 101.53957 }, map: map, icon: { url: LKP_Con } }); //Lau Ken Poh
            var LKM = new google.maps.Marker({ position: { lat: 5.2904932, lng: 100.2403858 }, map: map, icon: { url: LKM_Con } }); //Lee Khek Mui
            var CM_Yee = new google.maps.Marker({ position: { lat: 2.57778, lng: 102.59578 }, map: map, icon: { url: CMY_Con } }); //CM Yee
            var Jerome = new google.maps.Marker({ position: { lat: 3.10055, lng: 101.62999 }, map: map, icon: { url: Jerome_Con } }); //Jerome Heah
            var Choco = new google.maps.Marker({ position: { lat: 3.0999, lng: 101.6869 }, map: map, icon: { url: Choco_Con } }); //ChocoPOW
            var ChengPK = new google.maps.Marker({ position: { lat: 3.1046, lng: 101.4907 }, map: map, icon: { url: ChengPK_Con } }); //ChengPK 22 S.Tropika U13/20B
            var KPChurch = new google.maps.Marker({ position: { lat: 3.05214, lng: 101.459472 }, map: map, icon: { url: KPChurch_Con } }); //Klang Presbyterian Church
            var Aviva_1772 = new google.maps.Marker({ position: { lat: 2.6598, lng: 101.912 }, map: map, icon: { url: Aviva_Con } }); //1772 Aviva Green
            var YWTan = new google.maps.Marker({ position: { lat: 3.0439, lng: 101.5806 }, map: map, icon: { url: TYW_Con } }); //Tan Yu Wea
            var FF = new google.maps.Marker({ position: { lat: 3.364549,  lng: 101.603240 }, map: map, icon: { url: FF_Con } }); //Fresh Fishery 132kWp
            var River_of_life = new google.maps.Marker({ position: { lat: 3.16643, lng: 101.67836 }, map: map, icon: { url: RoL_Con } }); //River Of Life
            var TPE = new google.maps.Marker({ position: { lat: 3.0236951, lng: 101.6954435 }, map: map, icon: { url: TPE_Con } }); //Kraiburg-TPE
            var Hercules = new google.maps.Marker({ position: { lat: 3.05452, lng: 101.508 }, map: map, icon: { url: Hercules_Con } }); //Hercules F2
            var SSLE = new google.maps.Marker({ position: { lat: 5.24251, lng: 100.49699 }, map: map, icon: { url: SSL_Con } }); //Sun Sung Lee Engineering Sdn. Bhd.
            var SFH = new google.maps.Marker({ position: { lat: 2.103836, lng: 102.607315 }, map: map, icon: { url: SFH_Con } }); //Shea Fatt Hardware (M) Sdn Bhd
            var SYW = new google.maps.Marker({ position: { lat: 4.5662, lng: 101.04829 }, map: map, icon: { url: SYW_Con } }); //SYW INDUSTRY
            var ICP = new google.maps.Marker({ position: { lat: 1.5076, lng: 103.5125 }, map: map, icon: { url: ICP_Con } }); //ICP Ulu Choh
            var Thumbprints = new google.maps.Marker({ position: { lat: 3.31272, lng: 101.58862 }, map: map, icon: { url: Thumbprints_Con } }); //Thumbprints Utd. Sdn Bhd
            var Firma_Odesi = new google.maps.Marker({ position: { lat: 5.88871, lng: 117.92391 }, map: map, icon: { url: Firma_Con } }); //Firma Odesi Sdn Bhd

            var TR_Energy_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">TR Energy 0.99MWp</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var NK_Energy_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">NK Energy 0.99MWp Solar Farm</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Maran_500_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Maran Road Sawmill - 500kWp</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Maran_NEM_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Maran Road Sawmill NEM</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var TCMA_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Tan Chong Motor Assemblies Sdn Bhd</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Toyo_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Toyo Tires Manufacturing (M)</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var CLK_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Choo Lay Khuan 5kWp</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Nasha_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Nasharuddin 2017</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var CCP_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">ChuaChinPeng</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var TCH_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">tingchenhunt</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Shahrir_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Mohamad Shahrir</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var LKY_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Loh Kiat Yoong</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Krishna_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Krishna</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Affandi_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Affandi</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var SKLee_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Lee Szed Kee</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var OLK_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Ooi Lee Kean</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var SS15_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">SS15</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var SKS_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Soo Kai Soon</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var CEH_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Chua Eng Hin</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var OHK_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Ooi Hoon Kong</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var William_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">William Lin Kee Wai</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var CPW_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading"CP Wong</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var WXNg_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Ng Wei Xin</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var secret_garden_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">secret-garden 6.3kWp Solar PV</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Kuvendran_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Kuvendran</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Jack_Ong_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Jack Ong Seng Leong</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var CWTan_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Tan Chun Weng</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var YKW_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Yim Kien Wai 11.925kWP</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var KPLau_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Lau Ken Poh</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var LKM_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Lee Khek Mui</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var CM_Yee_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">CM Yee</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Jerome_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Jerome Heah</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Choco_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">ChocoPOW</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var ChengPK_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">ChengPK 22 S.Tropika U13/20B</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var KPChurch_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Klang Presbyterian Church</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Aviva_1772_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">1772 Aviva Green</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var YWTan_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Tan Yu Wea</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var FF_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Fresh Fishery 132kWp</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var River_of_life_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">River Of Life</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var TPE_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Kraiburg-TPE</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Hercules_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Hercules F2</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var SSLE_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Sun Sung Lee Engineering Sdn. Bhd.</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var SFH_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Shea Fatt Hardware (M) Sdn Bhd</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var SYW_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">SYW INDUSTRY</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var ICP_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">ICP Ulu Choh</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Thumbprints_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Thumbprints Utd. Sdn Bhd</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';
            var Firma_Odesi_CS = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" class="firstHeading">Firma Odesi Sdn Bhd</h4>' + '<div id="bodyContent">' + '<p>Info Here</p>' + '</div>' + '</div>';

            var TR_infowindow = new google.maps.InfoWindow({ content: TR_Energy_CS });
            var NK_infowindow = new google.maps.InfoWindow({ content: NK_Energy_CS });
            var Maran_500_infowindow = new google.maps.InfoWindow({ content: Maran_500_CS });
            var Maran_NEM_infowindow = new google.maps.InfoWindow({ content: Maran_NEM_CS });
            var TCMA_infowindow = new google.maps.InfoWindow({ content: TCMA_CS });
            var Toyo_infowindow = new google.maps.InfoWindow({ content: Toyo_CS });
            var CLK_infowindow = new google.maps.InfoWindow({ content: CLK_CS });
            var Nasha_infowindow = new google.maps.InfoWindow({ content: Nasha_CS });
            var CCP_infowindow = new google.maps.InfoWindow({ content: CCP_CS });
            var TCH_infowindow = new google.maps.InfoWindow({ content: TCH_CS });
            var Shahrir_infowindow = new google.maps.InfoWindow({ content: Shahrir_CS });
            var LKY_infowindow = new google.maps.InfoWindow({ content: LKY_CS });
            var Krishna_infowindow = new google.maps.InfoWindow({ content: Krishna_CS });
            var Affandi_infowindow = new google.maps.InfoWindow({ content: Affandi_CS });
            var SKLee_infowindow = new google.maps.InfoWindow({ content: SKLee_CS });
            var OLK_infowindow = new google.maps.InfoWindow({ content: OLK_CS });
            var SS15_infowindow = new google.maps.InfoWindow({ content: SS15_CS });
            var SKS_infowindow = new google.maps.InfoWindow({ content: SKS_CS });
            var CEH_infowindow = new google.maps.InfoWindow({ content: CEH_CS });
            var OHK_infowindow = new google.maps.InfoWindow({ content: OHK_CS });
            var William_infowindow = new google.maps.InfoWindow({ content: William_CS });
            var CPW_infowindow = new google.maps.InfoWindow({ content: CPW_CS });
            var WXNg_infowindow = new google.maps.InfoWindow({ content: WXNg_CS });
            var secret_garden_infowindow = new google.maps.InfoWindow({ content: secret_garden_CS });
            var Kuvendran_infowindow = new google.maps.InfoWindow({ content: Kuvendran_CS });
            var Jack_Ong_infowindow = new google.maps.InfoWindow({ content: Jack_Ong_CS });
            var CWTan_infowindow = new google.maps.InfoWindow({ content: CWTan_CS });
            var YKW_infowindow = new google.maps.InfoWindow({ content: YKW_CS });
            var KPLau_infowindow = new google.maps.InfoWindow({ content: KPLau_CS });
            var LKM_infowindow = new google.maps.InfoWindow({ content: LKM_CS });
            var CM_Yee_infowindow = new google.maps.InfoWindow({ content: CM_Yee_CS });
            var Jerome_infowindow = new google.maps.InfoWindow({ content: Jerome_CS });
            var Choco_infowindow = new google.maps.InfoWindow({ content: Choco_CS });
            var ChengPK_infowindow = new google.maps.InfoWindow({ content: ChengPK_CS });
            var KPChurch_infowindow = new google.maps.InfoWindow({ content: KPChurch_CS });
            var Aviva_1772_infowindow = new google.maps.InfoWindow({ content: Aviva_1772_CS });
            var YWTan_infowindow = new google.maps.InfoWindow({ content: YWTan_CS });
            var FF_infowindow = new google.maps.InfoWindow({ content: FF_CS });
            var River_of_life_infowindow = new google.maps.InfoWindow({ content: River_of_life_CS });
            var TPE_infowindow = new google.maps.InfoWindow({ content: TPE_CS });
            var Hercules_infowindow = new google.maps.InfoWindow({ content: Hercules_CS });
            var SSLE_infowindow = new google.maps.InfoWindow({ content: SSLE_CS });
            var SFH_infowindow = new google.maps.InfoWindow({ content: SFH_CS });
            var SYW_infowindow = new google.maps.InfoWindow({ content: SYW_CS });
            var ICP_infowindow = new google.maps.InfoWindow({ content: ICP_CS });
            var Thumbprints_infowindow = new google.maps.InfoWindow({ content: Thumbprints_CS });
            var Firma_Odesi_infowindow = new google.maps.InfoWindow({ content: Firma_Odesi_CS });

            TR_Energy.addListener('mouseover', function () { TR_infowindow.open(map, TR_Energy); });
            NK_Energy.addListener('mouseover', function () { NK_infowindow.open(map, NK_Energy); });
            Maran_500.addListener('mouseover', function () { Maran_500_infowindow.open(map, Maran_500); });
            Maran_NEM.addListener('mouseover', function () { Maran_NEM_infowindow.open(map, Maran_NEM); });
            TCMA.addListener('mouseover', function () { TCMA_infowindow.open(map, TCMA); });
            Toyo.addListener('mouseover', function () { Toyo_infowindow.open(map, Toyo); });
            CLK.addListener('mouseover', function () { CLK_infowindow.open(map, CLK); });
            Nasha.addListener('mouseover', function () { Nasha_infowindow.open(map, Nasha); });
            CCP.addListener('mouseover', function () { CCP_infowindow.open(map, CCP); });
            TCH.addListener('mouseover', function () { TCH_infowindow.open(map, TCH); });
            Shahrir.addListener('mouseover', function () { Shahrir_infowindow.open(map, Shahrir); });
            LKY.addListener('mouseover', function () { LKY_infowindow.open(map, LKY); });
            Krishna.addListener('mouseover', function () { Krishna_infowindow.open(map, Krishna); });
            Affandi.addListener('mouseover', function () { Affandi_infowindow.open(map, Affandi); });
            SKLee.addListener('mouseover', function () { SKLee_infowindow.open(map, SKLee); });
            OLK.addListener('mouseover', function () { OLK_infowindow.open(map, OLK); });
            SS15.addListener('mouseover', function () { SS15_infowindow.open(map, SS15); });
            SKS.addListener('mouseover', function () { SKS_infowindow.open(map, SKS); });
            CEH.addListener('mouseover', function () { CEH_infowindow.open(map, CEH); });
            OHK.addListener('mouseover', function () { OHK_infowindow.open(map, OHK); });
            William.addListener('mouseover', function () { William_infowindow.open(map, William); });
            CPW.addListener('mouseover', function () { CPW_infowindow.open(map, CPW); });
            WXNg.addListener('mouseover', function () { WXNg_infowindow.open(map, WXNg); });
            secret_garden.addListener('mouseover', function () { secret_garden_infowindow.open(map, secret_garden); });
            Kuvendran.addListener('mouseover', function () { Kuvendran_infowindow.open(map, Kuvendran); });
            Jack_Ong.addListener('mouseover', function () { Jack_Ong_infowindow.open(map, Jack_Ong); });
            CWTan.addListener('mouseover', function () { CWTan_infowindow.open(map, CWTan); });
            YKW.addListener('mouseover', function () { YKW_infowindow.open(map, YKW); });
            KPLau.addListener('mouseover', function () { KPLau_infowindow.open(map, KPLau); });
            LKM.addListener('mouseover', function () { LKM_infowindow.open(map, LKM); });
            CM_Yee.addListener('mouseover', function () { CM_Yee_infowindow.open(map, CM_Yee); });
            Jerome.addListener('mouseover', function () { Jerome_infowindow.open(map, Jerome); });
            Choco.addListener('mouseover', function () { Choco_infowindow.open(map, Choco); });
            ChengPK.addListener('mouseover', function () { ChengPK_infowindow.open(map, ChengPK); });
            KPChurch.addListener('mouseover', function () { KPChurch_infowindow.open(map, KPChurch); });
            Aviva_1772.addListener('mouseover', function () { Aviva_1772_infowindow.open(map, Aviva_1772); });
            YWTan.addListener('mouseover', function () { YWTan_infowindow.open(map, YWTan); });
            FF.addListener('mouseover', function () { FF_infowindow.open(map, FF); });
            River_of_life.addListener('mouseover', function () { River_of_life_infowindow.open(map, River_of_life); });
            TPE.addListener('mouseover', function () { TPE_infowindow.open(map, TPE); });
            Hercules.addListener('mouseover', function () { Hercules_infowindow.open(map, Hercules); });
            SSLE.addListener('mouseover', function () { SSLE_infowindow.open(map, SSLE); });
            SFH.addListener('mouseover', function () { SFH_infowindow.open(map, SFH); });
            SYW.addListener('mouseover', function () { SYW_infowindow.open(map, SYW); });
            ICP.addListener('mouseover', function () { ICP_infowindow.open(map, ICP); });
            Thumbprints.addListener('mouseover', function () { Thumbprints_infowindow.open(map, Thumbprints); });
            Firma_Odesi.addListener('mouseover', function () { Firma_Odesi_infowindow.open(map, Firma_Odesi); });

            TR_Energy.addListener('mouseout', function () { TR_infowindow.close(); });
            NK_Energy.addListener('mouseout', function () { NK_infowindow.close(); });
            Maran_500.addListener('mouseout', function () { Maran_500_infowindow.close(); });
            Maran_NEM.addListener('mouseout', function () { Maran_NEM_infowindow.close(); });
            TCMA.addListener('mouseout', function () { TCMA_infowindow.open(); });
            Toyo.addListener('mouseout', function () { Toyo_infowindow.open(); });
            CLK.addListener('mouseout', function () { CLK_infowindow.open(); });
            Nasha.addListener('mouseout', function () { Nasha_infowindow.open(); });
            CCP.addListener('mouseout', function () { CCP_infowindow.open(); });
            TCH.addListener('mouseout', function () { TCH_infowindow.open(); });
            Shahrir.addListener('mouseout', function () { Shahrir_infowindow.open(); });
            LKY.addListener('mouseout', function () { LKY_infowindow.open(); });
            Krishna.addListener('mouseout', function () { Krishna_infowindow.open(); });
            Affandi.addListener('mouseout', function () { Affandi_infowindow.open(); });
            SKLee.addListener('mouseout', function () { SKLee_infowindow.open(); });
            OLK.addListener('mouseout', function () { OLK_infowindow.open(); });
            SS15.addListener('mouseout', function () { SS15_infowindow.open(); });
            SKS.addListener('mouseout', function () { SKS_infowindow.open(); });
            CEH.addListener('mouseout', function () { CEH_infowindow.open(); });
            OHK.addListener('mouseout', function () { OHK_infowindow.open(); });
            William.addListener('mouseout', function () { William_infowindow.open(); });
            CPW.addListener('mouseout', function () { CPW_infowindow.open(); });
            WXNg.addListener('mouseout', function () { WXNg_infowindow.open(); });
            secret_garden.addListener('mouseout', function () { secret_garden_infowindow.open(); });
            Kuvendran.addListener('mouseout', function () { Kuvendran_infowindow.open(); });
            Jack_Ong.addListener('mouseout', function () { Jack_Ong_infowindow.open(); });
            CWTan.addListener('mouseout', function () { CWTan_infowindow.open(); });
            YKW.addListener('mouseout', function () { YKW_infowindow.open(); });
            KPLau.addListener('mouseout', function () { KPLau_infowindow.open(); });
            LKM.addListener('mouseout', function () { LKM_infowindow.open(); });
            CM_Yee.addListener('mouseout', function () { CM_Yee_infowindow.open(); });
            Jerome.addListener('mouseout', function () { Jerome_infowindow.open(); });
            Choco.addListener('mouseout', function () { Choco_infowindow.open(); });
            ChengPK.addListener('mouseout', function () { ChengPK_infowindow.open(); });
            KPChurch.addListener('mouseout', function () { KPChurch_infowindow.open(); });
            Aviva_1772.addListener('mouseout', function () { Aviva_1772_infowindow.open(); });
            YWTan.addListener('mouseout', function () { YWTan_infowindow.open(); });
            FF.addListener('mouseout', function () { FF_infowindow.open(); });
            River_of_life.addListener('mouseout', function () { River_of_life_infowindow.open(); });
            TPE.addListener('mouseout', function () { TPE_infowindow.open(); });
            Hercules.addListener('mouseout', function () { Hercules_infowindow.open(); });
            SSLE.addListener('mouseout', function () { SSLE_infowindow.open(); });
            SFH.addListener('mouseout', function () { SFH_infowindow.open(); });
            SYW.addListener('mouseout', function () { SYW_infowindow.open(); });
            ICP.addListener('mouseout', function () { ICP_infowindow.open(); });
            Thumbprints.addListener('mouseout', function () { Thumbprints_infowindow.open(); });
            Firma_Odesi.addListener('mouseout', function () { Firma_Odesi_infowindow.open(); });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgj_OLNlWvNs8nr2JPLON4GPCgsxTJRnU&callback=initMap" async defer></script>

}
else
{
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="single-content text-center">
                <div class="item-text">
                    <h3> @ViewBag.myTimestamp </h3>
                    <p>Date & Time</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="single-content text-center">
                <div class="item-text">
                    <h3>@ViewBag.myTitle</h3>
                    <p>Location Name</p>
                </div>
            </div>
        </div>
    </div><!-- end row1 -->
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="single-content text-center">
                <div class="item-text">
                    <h3>@ViewBag.myCurrentPower</h3>
                    <p>Current Power</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="single-content text-center">
                <div class="item-text">
                    <h3>@ViewBag.myEnergyToday</h3>
                    <p>PV Energy Today</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="single-content text-center">
                <div class="item-text">
                    <h3>@ViewBag.myTotalEnergy</h3>
                    <p>Total Energy Generated</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="single-content text-center">
                <div class="item-text">
                    <h3>@ViewBag.myCO2today</h3>
                    <p>CO2 Avoided Today</p>
                </div>
            </div>
        </div>
    </div>

    <div><img style="-webkit-user-select: none;margin: auto;" src=@ViewBag.myGraphURL /></div>
}

